#Semana 05-02

TEMAS

1.Colecciones
2.Estructuras decisivas y repetitivas
3.Clases y objetos
4.Funciones

In [1]:
#2.1 Estructuras Decisivas (if, for,else)

In [2]:
#2.1 Estructuras Decisivas (if, elif,else)

In [ ]:
#if
#Problema: Dado el precio de 3 productos ingresados por el teclado,
#aplicar un descuento del 10% si la venta es mayor o igual a 100.

In [12]:
#Solucion
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1 + P2 + P3
if total>=1000:
    total *=0.9
print(f"El total a pagar es: {total}")

Producto 1: 10000
Producto 2: 10000
Producto 3: 10000
El total a pagar es: 27000.0

In [ ]:
# Problema 01 (Recordando)
# Dado una lista de AMES, ARTEAGA, BARRIOS, BONIFACIO, BRAVO, CABALLERO, CAÑAZACA, FERNANDEZ, FLORES, GARCIA, HERRERA, HUERTA, HUERTAS, JIMENEZ, MAMANI, MANCILLA, PABLO, PAYE, PEÑA, PIZANGO, RAMOS, SANCHEZ, SEVILLANO, TINOCO, TORRES, VALDIVIESO, VELEZ, VILLANUEVA, ZUÑIGA ]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista

In [6]:
#Solucion:
alumnos = ["AMES", "ARTEAGA" , "BARRIOS" , "BONIFACIO", "BRAVO", "CABALLERO" , "CAÑAZACA", "FERNANDEZ" , "FLORES" , "GARCIA" , "HERRERA" , "HUERTA" , "HUERTAS", "JIMENEZ" , "MAMANI" , "MANCILLA", "PABLO" , "PAYE" , "PEÑA" , "PIZANGO", "RAMOS", "SANCHEZ","SEVILLANO", "TINOCO", "TORRES" , "VALDIVIESO", "VELEZ" , "VILLANUEVA" , "ZUÑIGA"]
nombre = input("Escribe el nombre del alumno")

if nombre in alumnos:
  print("El alumno ingresado sí forma parte de la lista")
else:
  print("El alumno ingresado no esta dentro de la lista")

Escribe el nombre del alumno "BONIFACIO"
El alumno ingresado no esta dentro de la lista

In [ ]:
#tIEMPO ASIGNAD0

In [11]:
#Solución
ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
    print("Datos erroneos")
else:
    if ventas<=1000:
        print("Categoría A")
    else:
            if ventas <= 2000:
                print("Categoría B")
            else:
                    if ventas <= 5000:
                        print("Categoría C")
                    else:
                        print("Categoría D")

Importe de ventas realizadas: 10000
Categoría D

In [15]:
#Solución
ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
  print("Datos erroneos")
else:
  if ventas <= 1000:
    print("categoria A")
  elif ventas <= 2000:
    print("categoria B")
  elif ventas <= 5000:
    print("categoria C")
  else:
    print("categoria D")

Importe de ventas realizadas: 78
categoria A

In [16]:
#2.2 eSTRUCTURAS REPETITIVAS
#FOR

In [17]:
#Problema 01:
#Mostrar los elementos de una lista utilizando for

In [18]:
#Solución
aula = ['Barrios','Sevillano','Zuñiga','Paye']

#Por cada alumno que está en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Barrios
Sevillano
Zuñiga
Paye

In [19]:
#Problema 02:
#Mostrar cada caracter de la cadena, utilizando la estructura for

In [20]:
#Solución:
cadena = input("Ingrese cadena: ")
for caracter in cadena:
    print(caracter)

Ingrese cadena: Aula Virtual
A
u
l
a

V
i
r
t
u
a
l

In [21]:
#Para generar rangos de números utilizamos range()
range(5)
#[0,5>

range(0, 5)

In [22]:
#Problema 02
#Imprimir los números de 0 a 10, utilizamos for
for numero in range(11):
    print (numero)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
#Problema 03
#Imprimir los números de 0 a 10, utilizamos for
for numero in range(5,11):
    print (numero)

5
6
7
8
9
10

In [24]:
#Problema 04
#Imprimir los números de 10 a 20, utilizamos for
for numero in range(10, 22, 2):
    print (numero)

10
12
14
16
18
20

In [25]:
#while
#Permite ejecutar un conjunto de acciones mientras se cumpla una condicion

In [27]:
#Ejemplo:
numero = 2
fin = 10
while numero <= fin:
    print(numero)
    numero+=1

1
2
3
4
5
6
7
8
9
10